@font-face {
  font-family: 'RalewayBold';
  src: url("raleway-bold-webfont.eot");
  src: url("raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-bold-webfont.woff") format("woff"), url("raleway-bold-webfont.ttf") format("truetype"), url("raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayExtraLight';
  src: url("raleway-extralight-webfont.eot");
  src: url("raleway-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-extralight-webfont.woff") format("woff"), url("raleway-extralight-webfont.ttf") format("truetype"), url("raleway-extralight-webfont.svg#ralewayextralight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayRegular';
  src: url("raleway-regular-webfont.eot");
  src: url("raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-regular-webfont.woff") format("woff"), url("raleway-regular-webfont.ttf") format("truetype"), url("raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayMedium';
  src: url("raleway-medium-webfont.eot");
  src: url("raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-medium-webfont.woff") format("woff"), url("raleway-medium-webfont.ttf") format("truetype"), url("raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayThin';
  src: url("raleway-thin-webfont.eot");
  src: url("raleway-thin-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-thin-webfont.woff") format("woff"), url("raleway-thin-webfont.ttf") format("truetype"), url("raleway-thin-webfont.svg#ralewaythin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayExtraBold';
  src: url("raleway-extrabold-webfont.eot");
  src: url("raleway-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-extrabold-webfont.woff") format("woff"), url("raleway-extrabold-webfont.ttf") format("truetype"), url("raleway-extrabold-webfont.svg#ralewayextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*@mixin sprite ($path, $x : 0px, $y : 0px, $width:128px, $height:128px) {
    background-image: url($path);
    background-position: $x $y;
    background-repeat: no-repeat;
    width : $width;
    height : $height;
    content:"";
    position: absolute;
}*/
@keyframes bgMove {
  /* line 86, data.scss */
  from {
    background-position: 0px 0px;
  }

  /* line 89, data.scss */
  to {
    background-position: 824px 824px;
  }
}

@-webkit-keyframes bgMove {
  /* line 95, data.scss */
  from {
    background-position: 0px 0px;
  }

  /* line 98, data.scss */
  to {
    background-position: 824px 824px;
  }
}

/* line 105, data.scss */
.word {
  /*animation:rotX 3s linear infinite;*/
  display: inline-block;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  width: 80%;
}

/* line 122, data.scss */
#word1 {
  -webkit-animation: rotX1 8s linear;
}

/* line 127, data.scss */
#word2 {
  -webkit-animation: rotX2 8s linear;
}

/* line 132, data.scss */
#word3 {
  -webkit-animation: rotX3 8s linear;
}

/* line 137, data.scss */
#word4 {
  -webkit-animation: rotX4 8s linear;
}

/*@keyframes rotX{
  from {
    transform:rotateX(0);
  }
  
  to {
    transform:rotateX(180deg);
  }
}*/
@-webkit-keyframes rotX1 {
  /* line 152, data.scss */
  0% {
    -webkit-transform: rotateX(0deg);
  }

  /* line 155, data.scss */
  10% {
    -webkit-transform: rotateX(0deg);
  }

  /* line 159, data.scss */
  20% {
    -webkit-transform: rotateX(92deg);
  }

  /* line 163, data.scss */
  50% {
    -webkit-transform: rotateX(92deg);
  }

  /* line 167, data.scss */
  75% {
    -webkit-transform: rotateX(92deg);
  }

  /* line 172, data.scss */
  100% {
    -webkit-transform: rotateX(92deg);
  }
}

@-webkit-keyframes rotX2 {
  /* line 178, data.scss */
  0% {
    -webkit-transform: rotateX(92deg);
  }

  /* line 182, data.scss */
  10% {
    -webkit-transform: rotateX(92deg);
  }

  /* line 187, data.scss */
  30% {
    -webkit-transform: rotateX(0deg);
  }

  /* line 191, data.scss */
  40% {
    -webkit-transform: rotateX(92deg);
  }

  /* line 195, data.scss */
  75% {
    -webkit-transform: rotateX(92deg);
  }

  /* line 199, data.scss */
  100% {
    -webkit-transform: rotateX(92deg);
  }
}

@-webkit-keyframes rotX3 {
  /* line 205, data.scss */
  0% {
    -webkit-transform: rotateX(92deg);
  }

  /* line 209, data.scss */
  25% {
    -webkit-transform: rotateX(92deg);
  }

  /* line 213, data.scss */
  35% {
    -webkit-transform: rotateX(92deg);
  }

  /* line 218, data.scss */
  45% {
    -webkit-transform: rotateX(0deg);
  }

  /* line 222, data.scss */
  60% {
    -webkit-transform: rotateX(92deg);
  }

  /* line 226, data.scss */
  100% {
    -webkit-transform: rotateX(92deg);
  }
}

@-webkit-keyframes rotX4 {
  /* line 232, data.scss */
  0% {
    -webkit-transform: rotateX(92deg);
  }

  /* line 236, data.scss */
  25% {
    -webkit-transform: rotateX(92deg);
  }

  /* line 240, data.scss */
  50% {
    -webkit-transform: rotateX(92deg);
  }

  /* line 244, data.scss */
  80% {
    -webkit-transform: rotateX(0deg);
  }

  /* line 249, data.scss */
  100% {
    -webkit-transform: rotateX(0deg);
  }
}
