@import "data";

body{
	margin : 0;
	height:100%;
	min-width: 355px;
}

header{
	height:100%;
	text-align: center;
	background-image: url(img/fond2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	

	div {
		width:90%;
		margin: 0 auto;

		&>img {
		-webkit-filter: drop-shadow(5px 5px 5px #111);
    	filter: drop-shadow(5px 5px 5px #111);
    	margin-top : 4%;
    	width:50%;	
    	max-width: 500px;
	} 
	}
	
	a {
		text-decoration: none;
	}

	ul {
		margin-top: 5%;
	}
	li {
		display: inline;
		list-style-type: none;
		margin-right: 3%;
	}
}

section {

	h1 {
		width:auto;
		text-align:center;
		background-color: black;
		margin-top: 0;
		text-transform: uppercase;
		padding: 2% 0;
		font-size: 3em;
	}
}

h1, h2 {
	color:white;
	font-family: RalewayExtraBold;
	font-variant: small-caps;

}

h1 {
	font-size: 5em;
	margin-bottom: 0;
}

h2 {
	font-size: 3em;
	margin-top: 0;
}	



@media screen and (max-width: 400px) {
	h1 {
		line-height: 1em;
	}

	header {
		img {
			margin-top: 2%;
		}
	}
}

@media screen and (max-width: 478px){
	header img {
		width:50%;
	}
}