@import "data";

.abs-center {
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

body{
	margin : 0;
	height:100%;
	min-width: 355px;
}

h1, h2, h3{
	font-family: RalewayExtraBold;
}

p {
	font-family: RalewayRegular;

}

header{
	height:100%;
	min-height:550px;
	text-align: center;
	background-image: url(img/fond2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	

	div {
		width:90%;
		margin: 0 auto;

		&>img {
			-webkit-filter: drop-shadow(5px 5px 5px #111);
			filter: drop-shadow(5px 5px 5px #111);
			margin-top : 7%;
			height:50%;	
			min-height: 200px;
			//max-width: 500px;
			transition:0.5s;
			&:hover {
				@include scale(1.1);
			}
		} 
	}
	
	a {
		text-decoration: none;
	}

	ul {
		margin-top: 8%;
	}
	li {
		display: inline;
		list-style-type: none;
		margin-right: 3%;
	}

	h1, h2 {
		color:white;
		font-variant: small-caps;

	}

	p {
		color:white;
	}

	h1 {
		font-size: 5rem;
		margin-bottom: 0;
		margin-top: 3%;
	}

	h2 {
		font-size: 3rem;
		margin-top: 0;
		margin-bottom:0;
	}	

}

#social img {
	width:60px;
	-webkit-filter: drop-shadow(2px 2px 2px #111);
			filter: drop-shadow(2px 2px 2px #111);
}



#projects {

	h1, h2, p {
		text-shadow: #000000 0px 0px 2px;
		color:white;
	}
	background:url(img/i.o2.jpg);
	background-size: cover;
	overflow:hidden;
	

	section {
		clear: both;
		padding : 0 15%;

		img {
			float:left;
			margin : 0 2% 2% 0;
		}
	}
}

#skills {
	background: url(img/geometry.png) repeat;
	animation:bgMove 30s infinite;
	-webkit-animation : bgMove 30s linear infinite;
	text-align: center;
	p { 
		color:black;
		font-size: 2rem;
		text-align: center;
		margin-bottom: 3%;
		&.emphasize {
			font-family: RalewayBold;
			font-size: 3rem;

		}
	}

	span {
		display:block;
	}

	strong {
		font-family: RalewayBold;
	}
	&>div {
		width:90%;
		display:block;
		margin:0 auto;
		margin-top: 10%;

	}
	svg {
		display:inline-block;

		height:200px;
		margin-right: 150px;
	}

	#skillbars {
		figure {
			display:inline-block;
			width : 25%;
		}
		/*figcaption {
			width:30%;
		}*/
	}

	canvas {
		width:80%;
		max-width: 600px;
	}

}

#about {
background: url(img/brickwall.png) ;

overflow:hidden;

	img {
		float:left;
	}



	h2 {
		font-size: 3rem;
		margin-bottom: 1%;
	}

	h3 {
		margin-top: 0;
		font-size: 2rem;
	}

}


#hobbies {

	background : url(img/dvd.jpg);

	p {
		width:70%;
		margin:1% auto;
		color:white;
		text-shadow : 	0px 0px 6px #000,
						0px 0px 4px #000,
						0px 0px 12px #000;
	}

	img {
		margin : 3% 0 5% 15%;
		opacity: 0.2;
	}
}

#contact {
	//height:1000px;
	background:url(img/a_half.jpg);
	background-size: cover;
	overflow:hidden;
	form {
		width:70%;
		margin: 0 auto;

	}
	
	label {
		display:block;
		font-family: RalewayBold;
		color:white;
		margin-bottom: 0.5%;
	}
	input {
		display:block;
		margin-bottom: 1%;
		width:30%;
	}
	textarea {
		display: block;
		width:30%;
		height:200px;
		margin-bottom: 5%;
	}

	button {
		border:0;
		font-family: RalewayExtraBold;
		background-color: #b53b01;
		color:white;
		font-size: 1.5rem;
		width:150px;
		height:50px;
		text-transform: uppercase;
		border-radius: 3px;
		margin-bottom: 10%;


	}
}

.container {
	&> h1 {
		width:auto;
		text-align:center;
		color:white;
		background-color: rgba(#000,0.6);

		//border : solid 2px $bleu;
		margin-top: 0;
		margin-bottom: 3%;
		text-transform: uppercase;
		padding: 1% 0;
		font-size: 3rem;

	}
}

@media screen and (max-width: 400px) {
	h1 {
		line-height: 5rem;
	}

	header {
		div>img {
			margin-top: 2%;
		}
	}
}

@media screen and (max-width: 500px) {
	header h1 {
		font-size: 4rem;
	}
}


@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
	#social {
		margin-top: 20%;
		img {
			width:120px;
			-webkit-filter: drop-shadow(4px 4px 4px #111);
					filter: drop-shadow(4px 4px 4px #111);
		}
	}
	header {
		h1 {
			font-size: 8rem;
			-webkit-filter: drop-shadow(2px 2px 4px #111);
					filter: drop-shadow(2px 2px 4px #111);
		}

		h2 {
			font-size:6rem;
			-webkit-filter: drop-shadow(2px 2px 4px #111);
					filter: drop-shadow(2px 2px 4px #111);
		}
	}
	

	header div>img {
		margin-top: 10%;
	}

}

