@font-face {
  font-family: 'RalewayBold';
  src: url("raleway-bold-webfont.eot");
  src: url("raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-bold-webfont.woff") format("woff"), url("raleway-bold-webfont.ttf") format("truetype"), url("raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayExtraLight';
  src: url("raleway-extralight-webfont.eot");
  src: url("raleway-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-extralight-webfont.woff") format("woff"), url("raleway-extralight-webfont.ttf") format("truetype"), url("raleway-extralight-webfont.svg#ralewayextralight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayRegular';
  src: url("raleway-regular-webfont.eot");
  src: url("raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-regular-webfont.woff") format("woff"), url("raleway-regular-webfont.ttf") format("truetype"), url("raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayMedium';
  src: url("raleway-medium-webfont.eot");
  src: url("raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-medium-webfont.woff") format("woff"), url("raleway-medium-webfont.ttf") format("truetype"), url("raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayThin';
  src: url("raleway-thin-webfont.eot");
  src: url("raleway-thin-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-thin-webfont.woff") format("woff"), url("raleway-thin-webfont.ttf") format("truetype"), url("raleway-thin-webfont.svg#ralewaythin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayExtraBold';
  src: url("raleway-extrabold-webfont.eot");
  src: url("raleway-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-extrabold-webfont.woff") format("woff"), url("raleway-extrabold-webfont.ttf") format("truetype"), url("raleway-extrabold-webfont.svg#ralewayextrabold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*@mixin sprite ($path, $x : 0px, $y : 0px, $width:128px, $height:128px) {
    background-image: url($path);
    background-position: $x $y;
    background-repeat: no-repeat;
    width : $width;
    height : $height;
    content:"";
    position: absolute;
}*/
/* line 3, style.scss */
.abs-center {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes fadeOutDown {
  /* line 9, style.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  /* line 15, style.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes fadeOutDown {
  /* line 23, style.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  /* line 30, style.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

/* line 38, style.scss */
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

/* line 43, style.scss */
body {
  margin: 0;
  height: 100%;
  min-width: 355px;
}

/* line 49, style.scss */
h1, h2, h3 {
  font-family: RalewayExtraBold;
}

/* line 53, style.scss */
p {
  font-family: RalewayRegular;
}

/* line 58, style.scss */
header {
  height: 100%;
  text-align: center;
  background-image: url(img/fond2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
/* line 67, style.scss */
header div {
  width: 90%;
  margin: 0 auto;
}
/* line 71, style.scss */
header div > img {
  -webkit-filter: drop-shadow(5px 5px 5px #111111);
  filter: drop-shadow(5px 5px 5px #111111);
  margin-top: 7%;
  height: 50%;
  transition: 0.5s;
}
/* line 78, style.scss */
header div > img:hover {
  -ms-transform: rotate(1.1);
  /* IE 9 */
  -webkit-transform: rotate(1.1);
  /* Chrome, Safari, Opera */
  transform: rotate(1.1);
}
/* line 84, style.scss */
header a {
  text-decoration: none;
}
/* line 88, style.scss */
header ul {
  margin-top: 8%;
}
/* line 91, style.scss */
header li {
  display: inline;
  list-style-type: none;
  margin-right: 3%;
}
/* line 97, style.scss */
header h1, header h2 {
  color: white;
  font-variant: small-caps;
}
/* line 103, style.scss */
header p {
  color: white;
}
/* line 107, style.scss */
header h1 {
  font-size: 5rem;
  margin-bottom: 0;
  margin-top: 3%;
}
/* line 113, style.scss */
header h2 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 121, style.scss */
#social img {
  width: 60px;
  -webkit-filter: drop-shadow(2px 2px 2px #111111);
  filter: drop-shadow(2px 2px 2px #111111);
}

/* line 129, style.scss */
#projects {
  background: url(img/i.o2.jpg);
  background-size: cover;
  overflow: hidden;
}
/* line 131, style.scss */
#projects h1, #projects h2, #projects p {
  text-shadow: #000000 0px 0px 2px;
  color: white;
}
/* line 140, style.scss */
#projects section {
  clear: both;
  padding: 0 15%;
}
/* line 144, style.scss */
#projects section img {
  float: left;
  margin: 0 2% 2% 0;
}

/* line 151, style.scss */
#skills {
  background: url(img/geometry.png) repeat;
  text-align: center;
}
/* line 154, style.scss */
#skills p {
  color: black;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3%;
}
/* line 159, style.scss */
#skills p.emphasize {
  font-family: RalewayBold;
  font-size: 3rem;
}
/* line 166, style.scss */
#skills span {
  display: block;
}
/* line 170, style.scss */
#skills strong {
  font-family: RalewayBold;
}
/* line 173, style.scss */
#skills img {
  display: block;
  margin: 0 auto;
}

/* line 180, style.scss */
#about {
  background: url(img/brickwall.png);
  overflow: hidden;
}
/* line 185, style.scss */
#about img {
  float: left;
}
/* line 191, style.scss */
#about h2 {
  font-size: 3rem;
  margin-bottom: 1%;
}
/* line 196, style.scss */
#about h3 {
  margin-top: 0;
  font-size: 2rem;
}

/* line 204, style.scss */
#hobbies {
  background: url(img/dvd.jpg);
}
/* line 208, style.scss */
#hobbies p {
  width: 70%;
  margin: 1% auto;
  color: white;
  text-shadow: 0px 0px 6px black, 0px 0px 4px black, 0px 0px 12px black;
}
/* line 217, style.scss */
#hobbies img {
  margin: 3% 0 5% 15%;
  opacity: 0.2;
}

/* line 223, style.scss */
#contact {
  background: url(img/a_half.jpg);
  background-size: cover;
  overflow: hidden;
}
/* line 228, style.scss */
#contact form {
  width: 70%;
  margin: 0 auto;
}
/* line 234, style.scss */
#contact label {
  display: block;
  font-family: RalewayBold;
  color: white;
  margin-bottom: 0.5%;
}
/* line 240, style.scss */
#contact input {
  display: block;
  margin-bottom: 1%;
  width: 30%;
}
/* line 245, style.scss */
#contact textarea {
  display: block;
  width: 30%;
  height: 200px;
  margin-bottom: 5%;
}
/* line 252, style.scss */
#contact button {
  border: 0;
  font-family: RalewayExtraBold;
  background-color: #b53b01;
  color: white;
  font-size: 1.5rem;
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  border-radius: 3px;
  margin-bottom: 10%;
}

/* line 269, style.scss */
.container > h1 {
  width: auto;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 0;
  margin-bottom: 3%;
  text-transform: uppercase;
  padding: 1% 0;
  font-size: 3rem;
}

@media screen and (max-width: 400px) {
  /* line 286, style.scss */
  h1 {
    line-height: 5rem;
  }

  /* line 291, style.scss */
  header div > img {
    margin-top: 2%;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 302, style.scss */
  #social {
    margin-top: 20%;
  }
  /* line 304, style.scss */
  #social img {
    width: 120px;
    -webkit-filter: drop-shadow(4px 4px 4px #111111);
    filter: drop-shadow(4px 4px 4px #111111);
  }

  /* line 311, style.scss */
  header h1 {
    font-size: 8rem;
    -webkit-filter: drop-shadow(2px 2px 4px #111111);
    filter: drop-shadow(2px 2px 4px #111111);
  }
  /* line 317, style.scss */
  header h2 {
    font-size: 6rem;
    -webkit-filter: drop-shadow(2px 2px 4px #111111);
    filter: drop-shadow(2px 2px 4px #111111);
  }

  /* line 325, style.scss */
  header div > img {
    margin-top: 10%;
  }
}
