@font-face {
  font-family: 'RalewayBold';
  src: url("raleway-bold-webfont.eot");
  src: url("raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-bold-webfont.woff") format("woff"), url("raleway-bold-webfont.ttf") format("truetype"), url("raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayExtraLight';
  src: url("raleway-extralight-webfont.eot");
  src: url("raleway-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-extralight-webfont.woff") format("woff"), url("raleway-extralight-webfont.ttf") format("truetype"), url("raleway-extralight-webfont.svg#ralewayextralight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayRegular';
  src: url("raleway-regular-webfont.eot");
  src: url("raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-regular-webfont.woff") format("woff"), url("raleway-regular-webfont.ttf") format("truetype"), url("raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayMedium';
  src: url("raleway-medium-webfont.eot");
  src: url("raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-medium-webfont.woff") format("woff"), url("raleway-medium-webfont.ttf") format("truetype"), url("raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayThin';
  src: url("raleway-thin-webfont.eot");
  src: url("raleway-thin-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-thin-webfont.woff") format("woff"), url("raleway-thin-webfont.ttf") format("truetype"), url("raleway-thin-webfont.svg#ralewaythin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayExtraBold';
  src: url("raleway-extrabold-webfont.eot");
  src: url("raleway-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("raleway-extrabold-webfont.woff") format("woff"), url("raleway-extrabold-webfont.ttf") format("truetype"), url("raleway-extrabold-webfont.svg#ralewayextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*@mixin sprite ($path, $x : 0px, $y : 0px, $width:128px, $height:128px) {
	background-image: url($path);
	background-position: $x $y;
	background-repeat: no-repeat;
	width : $width;
	height : $height;
	content:"";
	position: absolute;
}*/
@keyframes bgMove {
  from {
    background-position: 0px 0px; }

  to {
    background-position: 824px 824px; } }

@-webkit-keyframes bgMove {
  from {
    background-position: 0px 0px; }

  to {
    background-position: 824px 824px; } }

.word {
  /*animation:rotX 3s linear infinite;*/
  display: inline-block;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.start #word1 {
  -webkit-animation: wrotX1 8s linear;
  animation: rotX1 8s linear; }

.start #word2 {
  -webkit-animation: wrotX2 8s linear;
  animation: rotX2 8s linear; }

.start #word3 {
  -webkit-animation: wrotX3 8s linear;
  animation: rotX3 8s linear; }

.start #word4 {
  -webkit-animation: wrotX4 8s linear;
  animation: rotX4 8s linear; }

@-webkit-keyframes wrotX1 {
  0% {
    -webkit-transform: rotateX(0deg); }

  10% {
    -webkit-transform: rotateX(0deg); }

  20% {
    -webkit-transform: rotateX(92deg); }

  50% {
    -webkit-transform: rotateX(92deg); }

  75% {
    -webkit-transform: rotateX(92deg); }

  100% {
    -webkit-transform: rotateX(92deg); } }

@keyframes rotX1 {
  0% {
    transform: rotateX(0deg); }

  10% {
    transform: rotateX(0deg); }

  20% {
    transform: rotateX(92deg); }

  50% {
    transform: rotateX(92deg); }

  75% {
    transform: rotateX(92deg); }

  100% {
    transform: rotateX(92deg); } }

@-webkit-keyframes wrotX2 {
  0% {
    -webkit-transform: rotateX(92deg); }

  10% {
    -webkit-transform: rotateX(92deg); }

  30% {
    -webkit-transform: rotateX(0deg); }

  40% {
    -webkit-transform: rotateX(92deg); }

  75% {
    -webkit-transform: rotateX(92deg); }

  100% {
    -webkit-transform: rotateX(92deg); } }

@keyframes rotX2 {
  0% {
    transform: rotateX(92deg); }

  10% {
    transform: rotateX(92deg); }

  30% {
    transform: rotateX(0deg); }

  40% {
    transform: rotateX(92deg); }

  75% {
    transform: rotateX(92deg); }

  100% {
    transform: rotateX(92deg); } }

@-webkit-keyframes wrotX3 {
  0% {
    -webkit-transform: rotateX(92deg); }

  25% {
    -webkit-transform: rotateX(92deg); }

  35% {
    -webkit-transform: rotateX(92deg); }

  45% {
    -webkit-transform: rotateX(0deg); }

  60% {
    -webkit-transform: rotateX(92deg); }

  100% {
    -webkit-transform: rotateX(92deg); } }

@keyframes rotX3 {
  0% {
    transform: rotateX(92deg); }

  25% {
    transform: rotateX(92deg); }

  35% {
    transform: rotateX(92deg); }

  45% {
    transform: rotateX(0deg); }

  60% {
    transform: rotateX(92deg); }

  100% {
    transform: rotateX(92deg); } }

@-webkit-keyframes wrotX4 {
  0% {
    -webkit-transform: rotateX(92deg); }

  25% {
    -webkit-transform: rotateX(92deg); }

  50% {
    -webkit-transform: rotateX(92deg); }

  80% {
    -webkit-transform: rotateX(0deg); }

  100% {
    -webkit-transform: rotateX(0deg); } }

@keyframes rotX4 {
  0% {
    transform: rotateX(92deg); }

  25% {
    transform: rotateX(92deg); }

  50% {
    transform: rotateX(92deg); }

  80% {
    transform: rotateX(0deg); }

  100% {
    transform: rotateX(0deg); } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 1s; }

.abs-center {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px); } }

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); } }

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown; }

body {
  margin: 0;
  height: 100%;
  min-width: 355px; }

h1, h2, h3 {
  font-family: RalewayExtraBold; }

p {
  font-family: RalewayRegular; }

header {
  height: 100%;
  min-height: 768px;
  text-align: center;
  background-image: url(img/fond2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }
  header div {
    width: 90%;
    margin: 0 auto; }
    header div > img {
      -webkit-filter: drop-shadow(5px 5px 5px #111111);
      filter: drop-shadow(5px 5px 5px #111111);
      margin-top: 7%;
      height: 50%;
      min-height: 200px;
      transition: 0.5s; }
      header div > img:hover {
        -ms-transform: rotate(1.1);
        /* IE 9 */
        -webkit-transform: rotate(1.1);
        /* Chrome, Safari, Opera */
        transform: rotate(1.1); }
  header a {
    text-decoration: none; }
  header ul {
    margin-top: 8%; }
  header li {
    display: inline;
    list-style-type: none;
    margin-right: 3%; }
  header h1, header h2 {
    color: white;
    font-variant: small-caps; }
  header p {
    color: white; }
  header h1 {
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 3%; }
  header h2 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0; }

#social img {
  width: 60px;
  -webkit-filter: drop-shadow(2px 2px 2px #111111);
  filter: drop-shadow(2px 2px 2px #111111); }

#projects {
  background: url(img/i.o2.jpg);
  background-size: cover;
  overflow: hidden; }
  #projects h1, #projects h2, #projects p {
    text-shadow: #000000 0px 0px 2px;
    color: white; }
  #projects section {
    clear: both;
    padding: 0 15%; }
    #projects section img {
      float: left;
      margin: 0 2% 2% 0; }

#skills {
  background: url(img/geometry.png) repeat;
  animation: bgMove 30s infinite;
  -webkit-animation: bgMove 30s linear infinite;
  text-align: center; }
  #skills > h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: RalewayBold;
    margin-top: 10%;
    margin-bottom: 5%; }
  #skills p {
    color: black;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3%; }
    #skills p.code {
      font-family: "Source Code Pro","Courier New";
      font-size: 2.5rem; }
  #skills .margin-top {
    margin-top: 10%;
    font-family: RalewayBold;
    font-size: 3rem; }
  #skills .no-margin-bot {
    margin-bottom: 0; }
  #skills #exp {
    display: inline-block; }
  #skills #rotation {
    display: inline-block;
    position: relative;
    margin-top: 0;
    font-family: RalewayBold;
    font-size: 3rem; }
    #skills #rotation span {
      text-align: center;
      margin: auto; }
  #skills strong {
    font-family: RalewayBold; }
  #skills > div {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 10%; }
  #skills svg {
    display: inline-block;
    height: 200px;
    margin-right: 150px; }
  #skills #skillbars {
    max-width: 1000px;
    margin-top: 3%;
    padding-bottom: 3%; }
    #skills #skillbars figure {
      display: inline-block;
      width: auto; }
    #skills #skillbars figcaption {
      width: auto;
      margin: auto;
      margin-top: 10px;
      font-family: RalewayMedium;
      font-size: 1.6rem; }
  #skills > canvas {
    width: 80%;
    max-width: 600px;
    margin-bottom: 3%; }

#about {
  background: url(img/brickwall.png);
  overflow: hidden; }
  #about img {
    float: left; }
  #about h2 {
    font-size: 3rem;
    margin-bottom: 1%; }
  #about h3 {
    margin-top: 0;
    font-size: 2rem; }

#hobbies {
  background: url(img/dvd.jpg); }
  #hobbies p {
    width: 70%;
    margin: 1% auto;
    color: white;
    text-shadow: 0px 0px 6px #000, 0px 0px 4px #000, 0px 0px 12px #000; }
  #hobbies img {
    margin: 3% 0 5% 15%;
    opacity: 0.2; }

#contact {
  background: url(img/a_half.jpg);
  background-size: cover;
  overflow: hidden; }
  #contact form {
    width: 70%;
    margin: 0 auto; }
  #contact label {
    display: block;
    font-family: RalewayBold;
    color: white;
    margin-bottom: 0.5%; }
  #contact input {
    display: block;
    margin-bottom: 1%;
    width: 30%; }
  #contact textarea {
    display: block;
    width: 30%;
    height: 200px;
    margin-bottom: 5%; }
  #contact button {
    border: 0;
    font-family: RalewayExtraBold;
    background-color: #b53b01;
    color: white;
    font-size: 1.5rem;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-bottom: 10%; }

.container > h1 {
  width: auto;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 0;
  margin-bottom: 3%;
  text-transform: uppercase;
  padding: 1% 0;
  font-size: 3rem; }

@media screen and (max-width: 400px) {
  h1 {
    line-height: 5rem; }

  header div > img {
    margin-top: 2%; } }
@media screen and (max-width: 500px) {
  header h1 {
    font-size: 4rem; } }
@media screen and (max-width: 680px) {
  figure {
    display: block !important;
    margin: 4% auto; }

  .margin-top {
    margin-top: 20% !important; }

  .code {
    font-size: 1.75rem !important; } }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  header {
    min-height: 1500px; }

  #social {
    margin-top: 20%; }
    #social img {
      width: 120px;
      -webkit-filter: drop-shadow(4px 4px 4px #111111);
      filter: drop-shadow(4px 4px 4px #111111); }

  header h1 {
    font-size: 8rem;
    -webkit-filter: drop-shadow(2px 2px 4px #111111);
    filter: drop-shadow(2px 2px 4px #111111); }
  header h2 {
    font-size: 6rem;
    -webkit-filter: drop-shadow(2px 2px 4px #111111);
    filter: drop-shadow(2px 2px 4px #111111); }

  header div > img {
    margin-top: 10%; } }
