#testswipe {
	width:80%; 
	height:200px; 
	background-color: red;
	display: inline-block;
}

#menul {
	width:15%;
	height:200px;
	background-color:yellow;
	display: inline-block;
	margin-left: -15%;
}